body{
    background-color: $primary-dark;
    color: white;
  
    margin-left: 96px;
    margin-right: 96px;
    font-family: $bodytext;

    margin-bottom: 32px;
 
}


a{
    text-decoration: none;
    color: white;
}

.nav-wrap{
    display: flex;
    width: 100%;

    height: 8vh;
    font-size: 16px;

    .logo-wrap{
        width: 20%;
        
        display: flex;
        align-items: center;
    }
    nav {
        width: 60%;
        align-self: center;
        ul{
        display: flex;
        gap: 5%;
        list-style-type: none;
        justify-content: center;
        
        }
        .nav-link{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            
        }
        .nav-link:hover{
            color: gray;
        }
        button{
            background-color: transparent;
            border: none;
            color: white;
        }
        button:hover{
            color: gray;
        }
    }
    .right-nav{
        display: flex;
        
 
        width: 20%;
        justify-content: end;
        align-items: end;
     
      
        .country{
    
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: end;
            gap: 2px;
            font-size: small;
        }
    }
}

.lists-wrap li a:hover {
    color: gray;
}


#mega1{
    width: 100%;
    height: 80vh;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    display: none;
    padding: 5%;
    margin-top: 3vh;
    
}

#mega1 {
    .title{
        display: flex;
        gap: 12px;
        font-size: medium;
 
        align-items: center;
        button{
            width: 25px;
            height: 25px;
            background-color: $secondary-color;
        }
    }
    .lists-wrap{
        font-size: larger;
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
    
    }
}

#tech-drop{
    width: 16%;
    height: 50vh;
    position: absolute;
    left:650px;
    right: 0;
    z-index: 999;
    display: none;
    margin-top: 3vh;
    padding-top: 30px;
 
    
}

#tech-drop {

    .title{
        display: flex;
        font-size: medium;
        align-items: center;
        button{
            width: 25px;
            height: 25px;
            background-color: $secondary-color;
        }
    }
    .lists-wrap{
        display: flex;
        flex-direction: column;
        gap: 15px;
       
    
        li{
          
            height: 40px;
        }
       
    }
}

#industries-drop{
    width: 16%;
    height: 50vh;
    position: absolute;
    left:800px;
    right: 0;
    z-index: 999;
    display: none;
    margin-top: 3vh;
    padding-top: 30px;
 
    
}

#industries-drop {

    .title{
        display: flex;
        font-size: medium;
        align-items: center;
        button{
            width: 25px;
            height: 25px;
            background-color: $secondary-color;
        }
    }
    .lists-wrap{
        display: flex;
        flex-direction: column;
        gap: 15px;
       
    
        li{
          
            height: 40px;
        }
       
    }
}



#insights-drop{
    width: 16%;
    height: 50vh;
    position: absolute;
    left:920px;
    right: 0;
    z-index: 999;
    display: none;
    margin-top: 3vh;
    padding-top: 30px;
 
    
}

#insights-drop {

    .title{
        display: flex;
        font-size: medium;
        align-items: center;
        button{
            width: 25px;
            height: 25px;
            background-color: $secondary-color;
        }
    }
    .lists-wrap{
        display: flex;
        flex-direction: column;
        gap: 15px;
       
    
        li{
          
            height: 40px;
        }
       
    }
}

.hero-text-wrap{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;

}
video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 80%;
    z-index: -1; /* Send video behind content */
    transform: translate(-50%, -50%);
}


.hero{
    position: relative;
    z-index: 1;


    height: 70vh;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 5%;
    .left-content{
        width: 67%;
        font-size: 56px;
        font-family: $bigtext;
        .hero-bot{
            text-align: end;
        }
    }
    .right-content{
        width: 33%;
        font-size: 18px;
        text-align: justify;
        
        hr{
            margin-bottom: 20px;
            width: 15%;      
            border: none;    
            height: 5px;        
            background-color: $secondary-color;
        }
        .see-btn{
            display: flex;
            gap: 10px;
            margin-top: 30px;

            button{
                width: 25px;
                height: 25px;
                background-color: $secondary-color;
                border: none;
            }
        }
    }
  

}


.grid{

    width: 100%;
    height: 140vh;

  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  
    .grid-child{
        width: 260px;
        height: 65vh;
        font-family: $bodytext;
        h2{
            font-size: medium;
            margin-left: 15px;
            margin-top: 20px;
        }
        h3{
            font-size:20px;
            margin-left: 15px;
            margin-top: 20px;
        }
    
    
    
    }
    .one{
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('/assets/1.png');
    }
    .two{
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('/assets/2.png');
    }
    .three{
        background-color: white;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('/assets/3.svg');
        color:black;
    }
    .four{
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('/assets/4.png');
    }
    .five{
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('/assets/5.png');
    }
    .six{
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('/assets/6.png');
    }
    .seven{
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('/assets/7.png');
    }
    .eight{
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
        background-image: url('/apex.github.io/assets/8.png');
    }
    
}

.value{
  
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    h1{
        font-size: 100px;
    
    }
    p{
        
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
    }
    div{
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: center;
        button{
            width: 25px;
            height: 25px;
            background-color: $secondary-color;
            border: none;

        }
    }
}

.horizontal{

    max-height: 60vh;
    display: flex;
    overflow-x: auto;

    margin-top: 4%;

    
.item{

    height: 60vh;
    display: flex;

    image{
        width: 500px;
    }
    .content{
        width: 600px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 10px;
        div{
            display: flex;
            gap: 12px;
            button{
                width: 25px;
                height: 25px;
                border: none;
                background-color: $secondary-color;
            }

        }

        
    }
}

}
.horizontal::-webkit-scrollbar {
    display: none; /* Chrome, Safari: hides scrollbar */
}


.hr-btn{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-top: 2%;
    margin-bottom: 10%;
    gap: 3%;
    button{
        width: 40px;
        height: 40px;
        border: none;
        background-color: $secondary-color;
    }
}

footer{
    margin-top: 5%;
    display: flex;
    height: 50vh;

    .left{
    

        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
    
        h1{
            padding-bottom: 10%;
        }
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style-type: none;
            row-gap: 30%;

   

        }
        h3{
            
            padding-top: 28%;
            font-size: smaller;
        }
    }
    .img{
        width: 50%;
        height: 50vh;
        background-image: url('/assets/footer-img.png');
        background-size: cover; 
        
        background-repeat: no-repeat; 
    }
}



