:root {
    --background-color: white;
    --text-color: black;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
 
  .theme-button {
    color: var(--text-color);
  }

  .nav-link{
    color: var(--text-color);
  }

  .hamburger-menu{
    color: var(--text-color);
  }


  .grid{
    color: white!important;
  }
  .sub-menu h2{
    color: white!important;
  }

  .subp-menu h2{
    color: white!important;
  }

  .sub-gallery2{
    color: white!important;
  }

  .title{
    color: white!important;
  }


  
  